.chat-input-section {
    background-color: #eee;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto 1fr;
    grid-auto-columns: 60px;
    align-items: center;

    &-target {
        --avatar-size: 40px;

        margin: 0 8px;
    }

    &-input {
        margin-right: 8px;
    }
}
